{% if proxy_env.http_proxy is defined %}
export http_proxy="{{proxy_env.http_proxy}}"
export https_proxy="{{proxy_env.https_proxy}}"
export no_proxy="{{proxy_env.no_proxy}}"
export HTTP_PROXY=$http_proxy
export HTTPS_PROXY=$http_proxy
export NO_PROXY=$no_proxy
{% endif %}